USER1_PRIVATE_KEY = <pvt_key>
USER1_FROM = <pub_key>

USER2_PRIVATE_KEY = <pvt_key>
USER2_FROM = <pub_key>

ROOT_RPC = https://goerli.infura.io/<infura_key>
MATIC_RPC = https://polygon-mumbai.infura.io/v3/<infura_key>